body {
	background-color: rgb(44, 132, 148);
	font-family: 'Raleway', sans-serif;
	margin: auto;
	text-align: center;
}

img {
	padding-top: 40px;
}

h1 {
	text-transform: uppercase;
	font-size: 2.2em;
}

button {
	margin: 40px;
	font-size: 1.5em;
	border-radius: 10px 10px 10px 10px;
	border: 2px black;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
}

button:hover {background-color: rgb(147, 197, 210)}

table {
	border-collapse: collapse;
	width: 25%;
	margin: auto;
	font-size: 1.35em;
	line-height: 1.5em;
	margin-bottom: 50px;
	text-decoration-color: ;
}

tr:nth-child(even) {
	color: rgb(230, 241, 243);
}

tr:nth-child(odd) {
	color: rgb(230, 241, 243);
}

tr:hover {background-color: rgb(147, 197, 210)}

td {
    border-bottom: 1px solid black;
}